#*
The following is the default Velocity template use by this elda instance for
html representations.
*#

#parse("skeleton.vm")

#@skeleton("ELDA Page")

  #foreach ( $item in $items )
    <div class="collection">
      <h2><a href="$item.getURI()">$item.getLabel()</a></h2>
      #foreach( $prop in $item.getProperties())
        <ul class="item-property $prop">
          #foreach( $value in $item.getValues($prop))
            <li>$value</li>
          #end
        </ul>
      #end
    </div>
  #end
#end